.shop {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.shopItems {
  flex-grow: 1;
  --nav-link-width: clamp(60px, 8vw, 80px);
  padding: 5px;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: min(2vw, 15px);
  position: sticky;
  top: 60px;
  left: 10px;
}

.nav a {
  border: 2px solid var(--contrast-color);
  font-size: clamp(12px, 2vw, 14px);
  width: var(--nav-link-width);
  padding: 2px;
  text-align: center;
  text-decoration: none;
  color: var(--contrast-color);
  transition: transform 0.3s ease;
}

.nav a:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
