:root {
  --dark-theme-background: #242424;
  --dark-theme-text-color: rgba(255, 255, 255, 0.87);

  --light-theme-background: #fbfbfb;
  --light-theme-text-color: #213547;

  --background-color: var(--dark-theme-background);
  --text-color: var(--dark-theme-text-color);
  --contrast-color: var(--light-theme-background);

  --border-color: rgb(128, 128, 128);
}
