.error {
  --border-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;

  padding: 50px;
  color: red;
  background-color: var(--contrast-color);
  border: 2px solid var(--border-color);
  font-weight: bold;
}

.error button {
  padding: 5px;
  font-weight: inherit;
  background-color: red;
}
